{# src/Annonces/PlatformBundle/Resources/views/Advert/ajouter.html.twig #}

{% extends "@AnnoncesPlatform/layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block annonces_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("@AnnoncesPlatform/Advert/formulaire.html.twig") }}

  <p>
    Vous ajoutez une nouvelle annonce.
  </p>

  <p>
    <a href="{{ path('annonces_accueil') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Annuler
    </a>
  </p>

{% endblock %}