{# src/Annonces/PlatformBundle/Resources/views/Advert/modifier.html.twig #}

{% extends "@AnnoncesPlatform/layout.html.twig" %}

{% block title %}
  Modifier une annonce - {{ parent() }}
{% endblock %}

{% block annonces_body %}

  <h2>Modifier une annonce</h2>

  {{ include("@AnnoncesPlatform/Advert/formulaire.html.twig") }}

  <p>
    Vous éditez une annonce déjà existante, merci de ne pas changer
    l'esprit général de l'annonce déjà publiée.
  </p>

  <p>
    <a href="{{ path('annonces_view', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
  </p>

{% endblock %}