<!DOCTYPE html>

<html>

  <head>

    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>

  </head>

  <body>

    <h1>Formulaire Suppression annonce {{ id }} !</h1>


    <p>

      Le Hello World est un grand classique en programmation.<br>

      Il signifie énormément, car cela veut dire que vous avez<br>

      réussi à exécuter le programme pour accomplir une tâche simple :<br>

      afficher ce hello world !<br><br>

    </p>

  </body>

</html>