{# src/Annonces/CoreBundle/Resources/views/Core/index.html.twig #}

{% extends "@AnnoncesPlatform/layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block annonces_body %}

  <h2>Page de contact</h2>

{% endblock %}